html {
  font-size: 13.33333333vw;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: '微软雅黑';
  /* 移动端默认字体一般是14px */
  font-size: 0.28rem;
}
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  /* 解决图片的3px间隙问题 */
  vertical-align: middle;
}
input {
  border: 0;
  /* 去掉内边框 */
  outline: 0;
}
.lb {
  border-left: 1px solid #ccc;
}
.rb {
  border-right: 1px solid #ccc;
}
.tb {
  border-top: 1px solid #ccc;
}
.bb {
  border-bottom: 1px solid #ccc;
}
#footer {
  background-color: #de181b;
  position: fixed;
  height: 1rem;
  width: 100%;
  bottom: 0;
}
#footer ul {
  height: 100%;
  width: 100%;
  display: flex;
}
#footer ul li {
  width: 20%;
}
#footer ul li a img {
  height: 100%;
}
