html {
  font-size: 13.33333333vw;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: '微软雅黑';
  /* 移动端默认字体一般是14px */
  font-size: 0.28rem;
}
li {
  list-style: none;
}
a {
  color: #ccc;
  text-decoration: none;
}
img {
  /* 解决图片的3px间隙问题 */
  vertical-align: middle;
}
input {
  border: 0;
  /* 去掉内边框 */
  outline: 0;
}
.lb {
  border-left: 1px solid #ccc;
}
.rb {
  border-right: 1px solid #ccc;
}
.tb {
  border-top: 1px solid #ccc;
}
.bb {
  border-bottom: 1px solid #ccc;
}
#footer {
  background-color: #de181b;
  position: fixed;
  height: 1rem;
  width: 100%;
  bottom: 0;
}
#footer ul {
  height: 100%;
  width: 100%;
  display: flex;
}
#footer ul li {
  width: 20%;
}
#footer ul li a img {
  height: 100%;
}
#header {
  padding: 0 .5rem;
}
#header div {
  display: flex;
  padding: .1rem 0;
}
#header div .search {
  flex: 1;
  padding: 0;
  position: relative;
}
#header div .search input {
  width: 100%;
  padding-left: 40px;
  background-color: #f7f7f7;
  border-radius: 15px;
  height: 30px;
  font-size: .01rem;
}
#header div .search .icon-search {
  position: absolute;
  top: 7px;
  left: 15px;
}
#header div .icon-back {
  width: 0.3rem;
  text-align: center;
  line-height: 30px;
}
#header div .icon-more {
  width: 0.3rem;
  text-align: center;
  line-height: 30px;
}
#main {
  margin-bottom: 1rem;
}
#main #dd {
  margin-top: .1rem;
  margin-left: .8rem;
}
#main #dd img {
  width: 100%;
  height: 100%;
}
#main #nav {
  margin: .4rem .8rem;
}
#main #nav .title {
  font-size: .14rem;
  font-weight: 700;
}
#main #nav .content {
  display: flex;
  flex-wrap: wrap;
}
#main #nav .content li {
  width: 33%;
  text-align: center;
  margin-top: .1rem;
}
#main #nav .content li img {
  width: 0.65rem;
}
#main #nav .content li a {
  font-size: .14rem;
  color: #000;
}
#main #fenlei {
  margin-left: .8rem;
  margin-top: .1rem;
}
#main #fenlei .title {
  font-size: .14rem;
  position: relative;
}
#main #fenlei .title .left {
  font-weight: 700;
}
#main #fenlei .title .right {
  position: absolute;
  right: 0;
}
#main #fenlei .title .right .icon-paixingbang {
  color: #de181b;
}
#main #fenlei .title .right i {
  font-size: .14rem;
}
#main #fenlei .content ul {
  display: flex;
  flex-wrap: wrap;
}
#main #fenlei .content ul li {
  width: 33.3%;
  margin-top: .15rem;
}
#main #fenlei .content ul li a {
  text-align: center;
  color: #000;
  font-size: .14rem;
}
#main #fenlei .content ul li a img {
  display: block;
  width: .7rem;
  margin: 0 auto;
}
#main #jiadian {
  margin-left: .8rem;
  margin-top: .1rem;
}
#main #jiadian .title {
  font-size: .14rem;
  font-weight: 700;
}
#main #jiadian .content ul {
  display: flex;
  flex-wrap: wrap;
}
#main #jiadian .content ul li {
  width: 33.3%;
  margin-top: .15rem;
}
#main #jiadian .content ul li a {
  text-align: center;
  color: #000;
  font-size: .14rem;
}
#main #jiadian .content ul li a img {
  display: block;
  width: .7rem;
  margin: 0 auto;
}
